<div class="topbar">

  <div class="nav-left">
    <a class="navlink hidden" href="/" id="dashboardBtn">Dashboard</a>
    <a class="navlink" href="/auth">About</a>
    <!-- <a class="navlink" href="/docs">Docs</a> -->
  </div>

  <div class="brand">
    <div class="title">Insight</div>
  </div>

  <div class="nav-right">
    <button class="btn-ghost jobs-btn hidden" type="button" id="jobsToggleBtn">
      Jobs
      <span id="jobsBadge" class="jobs-badge" style="display:none;"></span>
    </button>

    <button class="btn-ghost hidden" type="button" id="fullscreenBtn"
        onclick="toggleFullscreen()">
        Fullscreen
    </button>

    <button class="btn-ghost hidden" type="button" id="signOutBtn">
      Sign Out
    </button>
  </div>

</div>
